<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Edit Car</title>
  <link rel="stylesheet" href="/stylee.css" />
</head>
<body>
  <div id="add-car-form">
    <h1>Edit Car</h1>
    <form action="/admin/cars/edit/<%= car._id %>" method="POST">
      <label>Car Name</label>
      <input type="text" name="name" value="<%= car.name %>" required />

      <label>Car Type</label>
      <input type="text" name="type" value="<%= car.type %>" required />

      <label>Daily Price</label>
      <input type="number" name="dailyPrice" value="<%= car.dailyPrice %>" required />

      <button type="submit">Save Changes</button>
    </form>
  </div>
</body>
</html>
